.out {
    display: table;
    width: 100vw;
    height: 100vh;
    background-color: #020133;
  }

.string {
    font-size: 30px;
    color: #d4ceda;
}

.abstract_string {
  font-size: 30px;
  color: #8e8c8f;
}
