.out {
    display: table;
    width: 100vw;
    height: 100vh;
    background-color: #020133;
  }

.center {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.string {
    font-size: 80px;
    color: #d4ceda;
    font-family: 'Yellowtail', cursive;
    line-height:0.9em;
}

.hero {
    display: table-cell;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    color: #020133;
    text-align: center;
    vertical-align: middle;
}
