<mat-card class="example-card">
    <div fxLayout="column" fxLayoutAlign="start start" >
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{title}}</mat-card-title>
        </mat-card-header>
        <!-- img mat-card-image src="../../assets/1826416_s-320x320.jpg" alt="image" -->
        <mat-card-content>
            <p>
                {{note}}
            </p>
        </mat-card-content>
    </div>
    <div  fxLayout="row" fxLayoutAlign="end end">
        <mat-card-actions>
            <button mat-icon-button disabled aria-label="Project URL">
                <a href={{url}} target="_blank">
                    <mat-icon>link</mat-icon>
                </a>
            </button>
        </mat-card-actions>
    </div>
</mat-card>