.header-container {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    height: 10%;
    background-color:rgb(50, 7, 85);
}

.string-align {
    margin-top: 35px;
    display: table-cell;
    vertical-align: bottom;
    text-align: center;
}

.string {
    font-size: 25px;
    color: #d4ceda;
    font-family: 'Yellowtail', cursive;
    line-height:0.9em;
}